img {
  box-shadow: 0 0 15px #9a0b33;
  border-radius: 50%; 
  width: 96px; 
  height: 96px;
}
img.is-small {
  width: 56px;
  height: 56px;
}
img.is-large {
  width: 136px;
  height: 136px;
}
.avatar-container {
  display: flex; 
  justify-content: center;
}
.div-avatar {
  position: relative;
  border-color: black;
  border-style: double;
  border-radius: 15px;
  box-shadow: 1px 1px 20px rgb(19, 37, 139);
  padding: 8px;
  margin: 8px;
}
.text-username {
  font-size: 18px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
picture.disabled {
  opacity: 0.3;
}
