.title-h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: #e8ee9b;
  font-size: 16px;
}

ul {
  display: flex;
  gap: 2rem;
  list-style:none;
  
}
