.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;  
  min-height: 100vh;
  padding: 10px 5px 10px 5px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: inline-flex; 
  margin: 18px;
  width: 600px;
  height: 400px; 
  border-color: rgb(248, 252, 40);
  border-width: 2px;
  border-style: double;
  border-radius: 15px;
  box-shadow: 1px 1px 20px rgb(241, 237, 237);  
}
